@tailwind base;
@tailwind components;
@tailwind utilities;

  .sexosexo {
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 75.88%, 2.00% 76.82%, 4.00% 77.71%, 6.00% 78.54%, 8.00% 79.29%, 10.00% 79.96%, 12.00% 80.55%, 14.00% 81.05%, 16.00% 81.44%, 18.00% 81.74%, 20.00% 81.93%, 22.00% 82.01%, 24.00% 81.99%, 26.00% 81.86%, 28.00% 81.62%, 30.00% 81.28%, 32.00% 80.84%, 34.00% 80.31%, 36.00% 79.69%, 38.00% 78.98%, 40.00% 78.19%, 42.00% 77.34%, 44.00% 76.42%, 46.00% 75.46%, 48.00% 74.45%, 50.00% 73.42%, 52.00% 72.36%, 54.00% 71.29%, 56.00% 70.23%, 58.00% 69.17%, 60.00% 68.14%, 62.00% 67.14%, 64.00% 66.19%, 66.00% 65.28%, 68.00% 64.44%, 70.00% 63.67%, 72.00% 62.97%, 74.00% 62.37%, 76.00% 61.85%, 78.00% 61.43%, 80.00% 61.11%, 82.00% 60.89%, 84.00% 60.78%, 86.00% 60.77%, 88.00% 60.88%, 90.00% 61.09%, 92.00% 61.40%, 94.00% 61.82%, 96.00% 62.33%, 98.00% 62.93%, 100.00% 63.62%);    width: 100%;
    height: 750%;
    position: absolute;
    background: #223d0de6;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sexosexosexo {
    background: #3E431A;
    height: 900%;
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 64.59%, 2.00% 64.07%, 4.00% 63.53%, 6.00% 62.99%, 8.00% 62.45%, 10.00% 61.90%, 12.00% 61.35%, 14.00% 60.80%, 16.00% 60.27%, 18.00% 59.74%, 20.00% 59.23%, 22.00% 58.73%, 24.00% 58.25%, 26.00% 57.80%, 28.00% 57.37%, 30.00% 56.96%, 32.00% 56.59%, 34.00% 56.24%, 36.00% 55.93%, 38.00% 55.66%, 40.00% 55.42%, 42.00% 55.22%, 44.00% 55.06%, 46.00% 54.94%, 48.00% 54.85%, 50.00% 54.81%, 52.00% 54.82%, 54.00% 54.86%, 56.00% 54.94%, 58.00% 55.07%, 60.00% 55.23%, 62.00% 55.44%, 64.00% 55.68%, 66.00% 55.96%, 68.00% 56.27%, 70.00% 56.62%, 72.00% 56.99%, 74.00% 57.40%, 76.00% 57.83%, 78.00% 58.29%, 80.00% 58.77%, 82.00% 59.27%, 84.00% 59.78%, 86.00% 60.31%, 88.00% 60.84%, 90.00% 61.39%, 92.00% 61.94%, 94.00% 62.49%, 96.00% 63.03%, 98.00% 63.57%, 100.00% 64.11%);      }
  @media (max-width: 1020px) {
    .sexosexo {
      height: 1050%; /* Ou qualquer outra propriedade que você deseja para esconder a classe */
    }
  }  
body {
  background-color: #efefef;
}
.card-side {
  position: absolute;
  transition: all 0.8s ease;
  backface-visibility: hidden;
}
.card-side.back {
  transform: rotateY(-180deg);
}
.card:hover .card-side.front {
  transform: rotateY(180deg);
}
.card:hover .card-side.back {
  transform: rotateY(0deg);
}
