@tailwind base;
@tailwind components;
@tailwind utilities;

.sexosexo{
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 69.82%, 2.00% 73.31%, 4.00% 76.66%, 6.00% 79.83%, 8.00% 82.76%, 10.00% 85.41%, 12.00% 87.74%, 14.00% 89.70%, 16.00% 91.27%, 18.00% 92.43%, 20.00% 93.15%, 22.00% 93.43%, 24.00% 93.25%, 26.00% 92.63%, 28.00% 91.57%, 30.00% 90.08%, 32.00% 88.20%, 34.00% 85.96%, 36.00% 83.37%, 38.00% 80.50%, 40.00% 77.38%, 42.00% 74.06%, 44.00% 70.60%, 46.00% 67.05%, 48.00% 63.46%, 50.00% 59.90%, 52.00% 56.41%, 54.00% 53.05%, 56.00% 49.89%, 58.00% 46.95%, 60.00% 44.30%, 62.00% 41.98%, 64.00% 40.01%, 66.00% 38.44%, 68.00% 37.29%, 70.00% 36.56%, 72.00% 36.29%, 74.00% 36.46%, 76.00% 37.09%, 78.00% 38.15%, 80.00% 39.63%, 82.00% 41.51%, 84.00% 43.76%, 86.00% 46.34%, 88.00% 49.21%, 90.00% 52.33%, 92.00% 55.65%, 94.00% 59.11%, 96.00% 62.67%, 98.00% 66.25%, 100.00% 69.82%);
  width: 100%;
  height: 175%;
  position: absolute;
  background: #a9a9a9;
  position:absolute;
  top:0;
  left:0;
  
  }
body{
  background-color: #EFEFEF;
}
.applyBLUE {
  cursor: pointer;
  position: relative;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.applyBLUE::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90px;
  height: 50px;
  scale: 0;
  z-index: -1;
  background-color:#61dbfb;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.applyBLUE:hover::before {
  scale: 3;  
}
.applyBLUE:hover {
  color: white;
  scale: 1.1;
}
.applyBLUE:active {
  scale: 1;
}
.applyWHITE {
  cursor: pointer;
  position: relative;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.applyWHITE::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90px;
  height: 50px;
  scale: 0;
  z-index: -1;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  background-color:#3178C6;
}
.applyWHITE:hover::before {
  scale: 3;  
}
.applyWHITE:hover {
  color: white;
  scale: 1.1;
}
.applyWHITE:active {
  scale: 1;
}
.applyYELLOW {
  cursor: pointer;
  position: relative;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.applyYELLOW::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90px;
  height: 50px;
  scale: 0;
  z-index: -1;
  background-color:#F0DB4F;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.applyYELLOW:hover::before {
  scale: 3;  
}
.applyYELLOW:hover {
  color: black;
  scale: 1.1;
}
.applyYELLOW:active {
  scale: 1;
}
.applyPURPLE {
  cursor: pointer;
  position: relative;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}
.applyPURPLE::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90px;
  height: 50px;
  scale: 0;
  z-index: -1;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  background-color:#9013FE;
  
}
.applyPURPLE:hover::before {
  scale: 3;  
}
.applyPURPLE:hover {
  color: white;
  scale: 1.1;
  border: none;
}
.applyPURPLE:active {
  scale: 1;
}
.applyORANGE {
  cursor: pointer;
  position: relative;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.applyORANGE::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90px;
  height: 50px;
  scale: 0;
  z-index: -1;
  background-color:#f05030;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.applyORANGE:hover::before {
  scale: 3;  
}
.applyORANGE:hover {
  color: #3f2c00;
  scale: 1.1;
}
.applyORANGE:active {
  scale: 1;
}

